/* Reset */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Lato, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  input, input:focus-visible {
    border:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  /* Custom CSS */

  body, main, .main-header, .user-header, .cards, .group, .profile-info {
    display: grid;
  }

  body {
    height: 100vh;
    background-color: #004be9;
    background-image: linear-gradient(135deg, #004be9 0%, #80d0ce 95%);    
    grid-template-columns: 1fr 4fr;
  }

  main {
    grid-template-columns: 3fr 1fr;
  }

  .main-header {
    grid-template-columns: 3fr 1fr;
    margin-bottom: 1rem;
  }

  .user-header {
    grid-template-columns: 1fr 2fr;
  }

  .cards {
    grid-template: 1fr 1fr 1fr / 2fr 1fr;
  }

  .group {
    grid-template-rows: 1fr 1fr;
  }

  .sidebar, header, .card-container{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    padding: 1rem;
    margin: 0.5rem;
    background-size: 100% 100%;
  }

  .card-container {
    height: 10rem;
  }

  h2{
    font-size: 1.2rem;
    color: white;
    margin-left: 0.8rem;
  }

  .dashboard{
    margin-bottom: 3rem;
  }

  .dashboard::before {
    display: inline-block;
    vertical-align: middle;
    content: url('https://api.iconify.design/material-symbols/dashboard.svg?color=white&width=50&height=50');
    margin-right: 0.5rem;
  }
  .selection{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .selection > p {
    font-size: 18px;
    margin-left: 1rem;
    font-weight: 700;
  }

  .page-link {
    margin-bottom: 5rem;
  }

  a {
    text-decoration: none;
    transition: ease 0.2s all;
    margin-left: 0.5rem;
  }

  a:hover {
    transform: scale(1.05);
  }

  .search>input {
    width: 90%;
    height: 1rem;
    border-radius: 1rem;
    margin-left: 0.75rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font: inherit;
  }

  .search {
    display: flex;
    align-items: center;
  }

  .profile-info {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .profile-info * {
    place-self: center;
  }

  .profile-pic {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .profile-pic > img {
    position: absolute;
    border-radius: 3rem;
    height: 50px;
    width: auto;
    right: calc(50% - 25px);
    bottom: calc(50% - 25px);
  }

  .profile-info>svg {
    justify-self: end;
    margin-right: 0.2rem;
  }

  .profile-info>p {
    font-weight: 700;
    font-size: 1.1rem;
    justify-self: start;
  }
